
canvas {
	/*border:solid 2px #EEE;*/
	background:rgba(255,255,255,1);
	border-radius:65px 10px 65px 10px;
}

body {
	/*http://www.colorzilla.com/gradient-editor/*/
	/*background: linear-gradient(to bottom, #ee8888 0%,#ebf1f6 32%); */
	/*background: linear-gradient(to bottom, #7788BB 0%,#ebf1f6 50%);*/
	background: url("../img/bg2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: sans-serif;
	font-size: 14px;
	color: #222;
}

p{font-family: "Arial";}


h3 {text-decoration:underline}


#upheader {
  border-radius:5px 5px 5px 5px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 44px;
	background:rgba(255,255,255,0.8);
	box-shadow: 0 3px 3px -2px #888; 
	z-index:1;
	padding-left:15px;
	padding-right:5px;
	max-width: 1240px;
	margin-left:auto;
	margin-right:auto;
	
}
#upheader-left{
	display: inline-block;
	text-align: left;
}
#upheader-right{
	display: inline-block;
	float:right;
}
#upheader a {
	text-shadow: #FFFFFF 1px 1px 1px, #0099FF -1px 1px 20px; 
	position: relative;
	display: inline-block;
	color: #1C417F;
	text-decoration: none;
	font-family: cambria;
	font-size: 22px;
	
}
form{
	/* only for the donate button */
	position: relative;
	display: inline-block;
}

#upheader a:hover {
	color: #BB4170;
	text-shadow: #FFFFFF 1px 1px 1px, #AA66CC -1px 1px 20px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.uptab {
	/* used in the #upheader to create a blank between elements */
	margin-top:8px;
	margin-left:20px;
	margin-right:20px;
}
.header {
	margin-top: 15px;
	max-width: 1240px;
	margin-left:auto;
	margin-right:auto;
}
.logo {
	margin-top: 10px;
	position: relative;
	left:23%;
}
.counter {
	position: absolute;
	display: inline-block;
	float:left;
    left:82%;
	color: #DDD;
}

.pageViews span 
{
   display: none;
}
 
.pageViews:hover span 
{
   display: inline;
   position: absolute;
   white-space: nowrap;
   top: 30px;
   left: -100px;
   background: #F0E6A8;
   color: #444;
   padding: 3px;
   border:solid 1px #AAA;
	border-radius:4px 4px 4px 4px;
}

.imgLink{
	width:32px;
	height:32px;
	margin-left: 4px;
	display: inline-block;
		
}

#donateDiv{
	margin-left: 4px;
	display: inline-block;
	margin-top:5px;
	height:32px;
}

.headwarning {
	color:#DD0000;
	font-size: 15px;
}
.conteneur-onglets 
{
	z-index:2;
	margin: 0;
	padding:0 0 20px 7px;
}
.onglet
{
	display:inline-block;
	margin:1px 0px 1px 0px;
	padding:5px 10px ;
	border:1px solid #AAA;

	border-radius:3px 3px 3px 3px;
	color:#FFF;
	cursor: pointer;
	font-weight:bold;
	font-size:13px;
	text-shadow:
    -1px -1px 0 #444,
    1px -1px 0 #444,
    -1px 1px 0 #444,
    1px 1px 0 #444; 
}
.inactif
{
	background:rgba(255,255,255,0.3);
}
.inactif:hover
{
	background:#AAA;
	transition: all .6s;
}
.affiche-contenu-1
{
	background:#AAA;
	cursor:text;
}
.contenu
{
	background:rgba(255,255,255,0.9);
	margin-top:-15px;
	padding:10px;
	display:none;
	border:1px solid #FFF;
	border-radius:10px;
	color:#555;
	cursor: text;
	line-height:200%;
	min-width:300px;
	height:750px;
	overflow: auto;
	font-family: "Calibri";
}

.select
{
margin: 3px 3px;
font-family: "Calibri";
}

.color
{
width:70px;
margin: 3px 3px;
}

.game-aera
{
margin-top:30px; /* modifiable only in the resizeCanvas function in ponyCreator.js */
margin-bottom:30px;
margin-left:auto;
margin-right:auto;
}

.right-menu
{
width:350px;
}

.bgclass
{
font-size: 18px;
display: inline-block;
margin:0 0 0 50px;
}


/*
	load and save
*/
.save-wrap {
   width:285px;
   height:200px;
   margin:0 auto;
}
.save-left-col {
   float:left;
   width:125px;
}
.save-right-col  {
   float:right;
   width:160px;
}

/*
	stickers
*/
.stickerMiniInactive{
	width:28px;
	height:28px;
	border:solid 1px #444;
	border-radius:4px 4px 4px 4px;
	display:inline-block;
	cursor: pointer;

}
.stickerMiniInactive:hover{
	background:#CCC;
	transition: all .6s
}

.stickerMiniActive{
	width:28px;
	height:28px;
	border:solid 1px #444;
	border-radius:4px 4px 4px 4px;
	display:inline-block;
	background:#CCC;
}

.stickerImgDiv{
	background:#888;
	width:300px;
	border:solid 1px #444;
	border-radius:4px 4px 4px 4px;
	overflow:auto;
}
.stickerImgInactive{
	width:85px;
	height:85px;
	margin:5px 5px;
	cursor: pointer;
}
.stickerImgActive{
	width:85px;
	height:85px;
	margin:4px 4px;
	border:solid 2px #444;
	border-radius:4px 4px 4px 4px;
	background:#CCC;
}


.editModeDisabled{
	font-family: "Calibri";
}

.editModeEnabled{
	font-family:  "Calibri";
	color: #171;
}

.inputPose{
	width: 50px;
}

.smallfont{
	font-size:12px;
}

.banner2{
	margin-top: 25px;
	/*background:rgba(0,0,0,0.2);*/
	/*width:728px;
	height:90px;*/
	width:732px;
	height:94px;
	border-radius:10px 10px 10px 10px;
	position: relative;

}

.ad-containter4{
	float:left;
	margin-left:20px;
	margin-top:10px;
	 background:rgba(255,255,255,0.8);
	/*width:336px;
	height:280px;*/
	width:350px;
	height:294px;
	display: block;
	border-radius:10px 10px 10px 10px;
	text-align: center;
}

.banner4{
	position:relative;
	margin-left:7px;
	margin-top:7px;
	width:336px;
	height:280px;
}

.bottom-aera
{
	position: relative;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	margin-top:10px;
}

.bottom-aera-left
{
	position: absolute;
	width:550px;
    left: 0;
}

.bottom-aera-right
{
	position: absolute;
	width:400px;
	left:530px;
}

.block-info-left{
	float:left;
	margin-left:20px;
	margin-top:10px;
	border-radius:10px 10px 10px 10px;
    background:rgba(255,255,255,0.8);
	padding-top:20px;
    padding-left:35px;
	padding-right:35px;
	padding-bottom:25px;
	width:450px;
}

.block-info-right{
	float:left;
	margin-left:20px;
	margin-top:10px;
	border-radius:10px 10px 10px 10px;
    background:rgba(255,255,255,0.8);
	padding-top:20px;
    padding-left:35px;
	padding-right:35px;
	padding-bottom:25px;
	width:280px;
}
